<!doctype html>
<html ng-app="waziers">
<head>
    <base href="{{ path('root') }}">

    {% block stylesheets %}
        {% stylesheets
        'assets.vendor/bootstrap/dist/css/bootstrap.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

</head>
<body>
<h1>Application de choix</h1>

<div ui-view ></div>

{% block javascripts %}
    {% javascripts
    'assets.vendor/angular/angular.js'
    'assets.vendor/angular-ui-router/release/angular-ui-router.js'
    'assets.vendor/angular-resource/angular-resource.js'

    '@WaziersFrontBundle/Resources/public/js/core/module.js'
    '@WaziersFrontBundle/Resources/public/js/core/resource/resources.js'
    '@WaziersFrontBundle/Resources/public/js/core/controller/furnituresList.js'
    '@WaziersFrontBundle/Resources/public/js/core/controller/furnituresDetails.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">

        {% include 'WaziersFrontBundle:Default:home.js.twig' %}
    </script>
{% endblock %}
</body>
</html>