<table>
    <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>salle</th>
        <th>action</th>
    </tr>
    <tr ng-repeat="furniture in list.furnitures">
        <td>[[ furniture.title ]]</td>
        <td>[[ furniture.description ]]</td>
        <td>[[ furniture.room ]]</td>
        <td><a ui-sref="protected.furnitures.detail({furnitureId : furniture.id})">edite</a></td>
    </tr>
</table>

<a ui-sref="protected.furnitures.new">add</a>

<div ui-view=""></div>